@model IEnumerable<TimeMasters.Web.Models.Logging.Log>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Events[0].SequenceID)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Events[0].TimeStamp)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Events[0].Level)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Events[0].Logger)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Events[0].Message)
            </td>
            <td>
                Exception @Html.DisplayNameFor(model => model.Events[0].Exception.Message)
            </td>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Events[0].SequenceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Events[0].TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Events[0].Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Events[0].Logger)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Events[0].Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Events[0].Exception.Message)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
