@model TimeMasters.WebTest.Models.Logging.Log

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Log</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EnvironmentID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnvironmentID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventsID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventsID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
